{{- $email := promptStringOnce . "email" "Email address" -}}

[data]
    email = {{ $email | quote }}

encryption = "age"
[age]
    identity = "~/.config/chezmoi/key.txt"
    recipient = "age1drujmnh8zjxqnjdys6fn4qql9x00tmkjsavk8radtmgmfr8y84xqg3q7hd"
