{{- $hosttype := "desktop" -}}
{{- if hasPrefix "sb-" .chezmoi.username -}}
{{-   $hosttype = "sandbox" -}}
{{- end -}}

{{- $confirmChoices := list "yes" "no" -}}
{{- $isCorrect := promptChoice (printf "Is this a %s environment" $hosttype) $confirmChoices "yes" -}}

{{- if ne $isCorrect "yes" -}}
{{-   $choices := list "desktop" "sandbox" -}}
{{-   $hosttype = promptChoice "What type of host are you on" $choices -}}
{{- end -}}

data:
  hosttype: {{ $hosttype | quote }}

edit:
    command: "nvim"
    apply: true

git:
    autocommit: true
    autopush: true

diff:
    pager: "bat --language=diff"

pager: "bat"
format: yaml
progress: true
color:
