{{- $email := promptStringOnce . "email" "Email address" -}}

encryption = "age"

[data]
    email        = {{ $email | quote }}
    install_apt  = true
    install_dpkg = true

    [data.packages]
        apt = ["git-gui", "pv", "tldr"]

        [[data.packages.dpkg]]
            cmd    = "gum"
            filter = ""
            name   = "gum"
            repo   = "charmbracelet/gum"
        [[data.packages.dpkg]]
            cmd    = "rg"
            filter = ""
            name   = "ripgrep"
            repo   = "BurntSushi/ripgrep"
        [[data.packages.dpkg]]
            cmd    = "bat"
            filter = "musl"
            name   = "bat"
            repo   = "sharkdp/bat"
        [[data.packages.dpkg]]
            cmd    = "fd"
            filter = "musl"
            name   = "fd"
            repo   = "sharkdp/fd"

[edit]
    command = "nvim"

[git]
    autoCommit = true
    autoPush   = true

[diff]
    pager = "bat --language=diff"

[age]
    identity  = "~/.config/chezmoi/key.txt"
    recipient = "age1drujmnh8zjxqnjdys6fn4qql9x00tmkjsavk8radtmgmfr8y84xqg3q7hd"
