# #!/bin/bash

# # Copy general fish configurations
# cp ~/.local/share/chezmoi/dot_config/fish/aliases.fish ~/.config/fish/
# cp ~/.local/share/chezmoi/dot_config/fish/colors.fish ~/.config/fish/
# cp ~/.local/share/chezmoi/dot_config/fish/config.fish ~/.config/fish/

# # Copy function files
# mkdir -p ~/.config/fish/functions
# cp ~/.local/share/chezmoi/dot_config/fish/functions/* ~/.config/fish/functions/

# # Append environment-specific configurations
# if [ "{{ .environment }}" = "host" ]; then
#     echo "" >> ~/.config/fish/aliases.fish
#     echo "# Host-specific aliases" >> ~/.config/fish/aliases.fish
#     cat ~/.local/share/chezmoi/dot_config/fish/host/aliases.fish >> ~/.config/fish/aliases.fish
# elif [ "{{ .environment }}" = "sbx" ]; then
#     echo "" >> ~/.config/fish/aliases.fish
#     echo "# SBX-specific aliases" >> ~/.config/fish/aliases.fish
#     cat ~/.local/share/chezmoi/dot_config/fish/sbx/aliases.fish >> ~/.config/fish/aliases.fish

#     echo "" >> ~/.config/fish/config.fish
#     echo "# SBX-specific configuration" >> ~/.config/fish/config.fish
#     cat ~/.local/share/chezmoi/dot_config/fish/sbx/config.fish >> ~/.config/fish/config.fish
# fi
