#!/bin/bash

# Exit immediately if a command exits with a non-zero status
set -e
set -u

execute_template() {
    local chezmoi_source_dir

    local template_name="$1.tmpl"
    chezmoi_source_dir=$({{ .chezmoi.executable }} source-path)
    local template_path="$chezmoi_source_dir/.chezmoitemplates/$template_name"

    if [ ! -f "$template_path" ]; then
        echo "Error: Template file $template_name not found in .chezmoitemplates directory."
        return 1
    fi

    # Execute the template content as an inline template
    {{ .chezmoi.executable }} execute-template < "$template_path" | bash
}

if [ "{{ .user_config.install.dpkg }}" = "true" ]; then
    execute_template install_dpkg_packages.sh
fi

if [ "{{ .user_config.install.apt }}" = "true" ]; then
    execute_template install_apt_packages.sh
fi

if [ "{{ .user_config.install.pip }}" = "true" ]; then
    execute_template install_pip_packages.sh
fi

# if [ "{{ .user_config.install.fisher }}" = "true" ]; then
#      execute_template install_fisher_packages.sh
# fi

# Install fzf
{{ .chezmoi.sourceDir }}/scripts/install_fzf.sh

echo "All tools have been checked and installed if necessary."
