#!/bin/bash

# Exit immediately if a command exits with a non-zero status
set -e
set -u

source {{ .chezmoi.sourceDir }}/scripts/common_functions.sh

if [ "{{ .install_dpkg }}" = "true" ]; then
    execute_template install_dpkg_packages.sh
fi

if [ "{{ .install_apt }}" = "true" ]; then
    execute_template install_apt_packages.sh
fi

if [ "{{ .install_pip }}" = "true" ]; then
    execute_template install_pip_packages.sh
fi

# Install fzf
{{ .chezmoi.sourceDir }}/scripts/install_fzf.sh

echo "All tools have been checked and installed if necessary."
