set -g __dotfiles_FISH_CONF_PATH "$HOME/.config/fish"

# General fish configuration
source "$__dotfiles_FISH_CONF_PATH/utils.fish"
source "$__dotfiles_FISH_CONF_PATH/aliases.fish"
source "$__dotfiles_FISH_CONF_PATH/colors.fish"

# Set environment variables and path
set -gx __dotfiles_PATH "{{ .chezmoi.sourceDir }}"
set -gx __dotfiles_HOST_TYPE {{ .hosttype }}

# Source all files in the environment-specific directory
set -l env_dir "$__dotfiles_FISH_CONF_PATH/environment/{{ .hosttype }}"
if test -d $env_dir
    for file in $env_dir/**/*.fish
        source "$file"
    end
end

# Add packages to path
add_to_path_if_exists "$HOME/.atuin/bin"
add_to_path_if_exists /opt/nvim-linux64/bin

if dir_exists $HOME/.bun
    set --export BUN_INSTALL "$HOME/.bun"
    set --export PATH $BUN_INSTALL/bin $PATH
end

function fish_user_key_bindings
    bind ! bind_bang
    bind '$' bind_dollar
end

# Source package completions
if status --is-interactive
    # run_if_installed fzf "fzf --fish | source"
    run_if_installed atuin "atuin init fish | source"
    run_if_installed zoxide "zoxide init fish | source"
    run_if_installed fzf "fzf --fish | source"
    run_if_installed load_nvm "load_nvm > /dev/stderr"
end

# Disable greeting
set fish_greeting

# Set default editor
if is_installed nvim
    set -gx EDITOR nvim
else
    set -gx EDITOR vim
end

# Check fisher
# if {{ .user_config.install.fisher }} && not test -e "$__dotfiles_FISH_CONF_PATH/functions/fisher.fish"
#     curl -sL https://raw.githubusercontent.com/jorgebucaran/fisher/main/functions/fisher.fish | source && fisher install jorgebucaran/fisher
# end
