set -g __dotfiles_FISH_CONF_PATH "$HOME/.config/fish"

# General fish configuration
source "$__dotfiles_FISH_CONF_PATH/utils.fish"
source "$__dotfiles_FISH_CONF_PATH/aliases.fish"
source "$__dotfiles_FISH_CONF_PATH/colors.fish"

# Set environment variables and path
set -gx __dotfiles_PATH "{{ .chezmoi.sourceDir }}"
set -gx __dotfiles_HOST_TYPE {{ .hosttype }}

# Source all files in the environment-specific directory
set -l env_dir "$__dotfiles_FISH_CONF_PATH/environment/{{ .hosttype }}"
if test -d $env_dir
    for file in $env_dir/**/*.fish
        source "$file"
    end
end

# Add packages to path
add_to_path_if_exists "$HOME/bin"
add_to_path_if_exists "$HOME/.atuin/bin"
add_to_path_if_exists /opt/nvim-linux64/bin

if dir_exists "$HOME/.bun"
    set --export BUN_INSTALL "$HOME/.bun"
    fish_add_path $BUN_INSTALL/bin
end

function fish_user_key_bindings
    bind ! bind_bang
    bind '$' bind_dollar
end

# Source package completions
if status --is-interactive
    # run_if_installed fzf "fzf --fish | source"
    run_if_installed atuin "atuin init fish | source"
    run_if_installed zoxide "zoxide init fish | source"
    run_if_installed fzf "fzf --fish | source"
    run_if_installed load_nvm "load_nvm > /dev/stderr"
end

# Disable greeting
set fish_greeting

# Set default editor
if is_installed nvim
    set -gx EDITOR nvim
else
    set -gx EDITOR vim
end

#Use bat for man pages
set -x MANPAGER "sh -c 'col -bx | bat -l man -p --theme 'Monokai Extended''"

# Check Fisher and plugins
if not set -q __dotfiles_FISHER_INSTALLED
    # Set the flag to indicate Fisher has been installed
    set -Ux __dotfiles_FISHER_INSTALLED true

    echo "Installing Fisher..."
    curl -sL https://raw.githubusercontent.com/jorgebucaran/fisher/main/functions/fisher.fish | source

    set fisher_packages
    {{ range $package := .user_config.packages.fisher }}
        {{ with $package }}
            {{ if or (not (hasKey . "hosttype")) (eq .hosttype $.hosttype) }}
                set -a fisher_packages "{{ .name }}"
            {{ end }}
        {{ end }}
    {{ end }}

    for package in $fisher_packages
        fisher install $package
    end
end
