#!/bin/bash

# Current host type
CURRENT_HOSTTYPE="{{ .hosttype }}"

check_hosttype() {
    local hosttype=$1

    # If hosttype is empty or not set, install on all environments
    if [ -z "${hosttype}" ] || [ "${hosttype}" = "all" ]; then
        return 0
    fi

    # Convert comma-separated string to array
    IFS=',' read -ra hosttype_array <<< "$hosttype"

    if [[ " ${hosttype_array[@]} " =~ " $CURRENT_HOSTTYPE " ]]; then
        return 0
    else
        return 1
    fi
}
